# Сжатие изображение от IKSWEB.ru
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !/resize/index.php$
RewriteRule ^(.*)$ /resize/iksweb.php?url_param=$1 [L]
